<div class="content" role="main">
  <div *ngIf="loading">
    <h2>Loading Users List...</h2>
  </div>
  <div *ngIf="error">
    There was an error 😢
  </div>
  <div *ngIf="users && !loading">
    <h2>Delete User</h2>
    <p>This is a list with all the users, select one to delete:</p>
    <div class="card-container" *ngFor="let user of users">
      <!-- <a class="card" [routerLink]="['../user/' + user.id ]" routerLinkActive="active"> -->
      <a class="card" (click)="deleteUser(user)">
        <span>{{ user.name }}</span>
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="crimson" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
      </a>
    </div>
  </div>
</div>
