<div class="content" role="main">
  <h2>To add angular-apollo to your project:</h2>

  <div class="terminal">
    <pre>ng add apollo-angular</pre>
  </div>

  <h2>Users GraphQL CR<s>U</s>D (without the U 😜)</h2>
  <p>Click on each button to see the example:</p>

  <div class="card-container">
    <a class="card" routerLink="users" routerLinkActive="active">
      <span>Read - All Users</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" routerLink="users" routerLinkActive="active">
      <span>Read - Certain User by ID</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" routerLink="create" routerLinkActive="active">
      <span>Create - New User</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" routerLink="delete" routerLinkActive="active">
      <span>Delete - Certain User by ID</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <span class="card">
      <span>Update - Certain User by ID</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </span>
  </div>

</div>
